* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    display: flex;
    background-color: black;
    justify-content: space-between;
}

.nav-title, h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 165px;
    padding-right: 40px;
    color: white;
}

.nav-links, li {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 5px;
    padding-right: 20px;
}

.nav-links-s {
    color: white;
    text-decoration: none;
}

#active {
    font-weight: bold;
}

.btn {
    height: 30px;
    width: 80px;
    font-size: 17px;
    color: white;
    background-color: teal;
    border-color: black;
    border-style: solid;
    box-shadow: 1.5px 2px grey;
    margin-right: 200px;
}

.sign-out {
    display: flex;
    align-items: center;
}

/* User Div */

.flex {
    margin-top: 30px;
    margin-left: 160px;
    display: flex;
    justify-content: space-evenly;
}

.whole-card {
    width: 550px;
    margin-top: 30px;
    margin-right: 10px;
}

.color-header {
    background-color: teal;
    height: 90px;
    padding-top: 60px;
    padding-left: 30px;
}

.user-img {
    height: 160px;
    border-radius: 50%;
}

.info {
    /* height: 200px; */
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 80px;
    border-bottom: 5px solid lightgrey;
    border-left: 5px solid lightgrey;
    border-right: 5px solid lightgrey;
    margin-bottom: 50px;
}

.map-icon {
    height: 20px;
    margin-right: 8px;
}

#name {
    font-size: 50px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    color: black;
}


.location {
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 10px;
}

#space-between-ptag-and-link {
    padding-bottom: 15px;
}

#edit-profile-link {
    color: #3a81e6 ;
    text-decoration: underline;
    margin-right: 20px;
    font-size: 20px;
}

.gear-icon {
    height: 18px;
    margin-right: 9px;
    padding: 0px;
}

#circle {
    background-color: #dcdcdc;
    width: 26px;
    height: 31px;
    border-radius: 48%;
    font-size: 22px;
    font-weight:bold;
    position: relative;
    right: 4px;
    left: 2px;
    top: -4px;
    color: grey;
    padding-left: 10px;
}

/* ihfsiudfhihfiud */

.whole-connection-requests {
    width: 300px;
    height: 200px;
    margin-bottom: 80px;
}

.grey-header {
    background-color: dimgrey;
    height: 60px;

}

.connection-request-info {
    border-left: 5px solid lightgrey;
    border-right: 5px solid lightgrey;
    border-bottom: 5px solid lightgrey;
    padding: 10px;
}

.small-user-icons {
    height: 40px;
    border-radius: 50%;
}

.grey-checkmarks {
    height: 40px;
}

.education-header {
    background-color: dimgrey;
    color: white;
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
}

.education-info {
    border-left: 5px solid lightgrey;
    border-right: 5px solid lightgrey;
    border-bottom: 5px solid lightgrey;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.whole-your-connections {
    width: 300px;
    height: 200px;
    margin-bottom: 80px;
}

.your-connections-info {
    height: 250px;
    font-size: 20px;
    padding: 10px;
    border-left: 5px solid lightgrey;
    border-right: 5px solid lightgrey;
    border-bottom: 5px solid lightgrey;

}
.flex-connections {
    margin-right: 160px;
    margin-top: 30px;
    margin-left: 10px;
}

.view-more {
    padding: 10px;
    border-left: 5px solid lightgrey;
    border-right: 5px solid lightgrey;
    border-bottom: 5px solid lightgrey;

}

.img-wrapper{
    display: flex;
    align-items: center;
}

.image {
    border-radius: 50%;
    height: 50px;
    margin-right: 15px;
    margin-bottom: 9px;
    margin-left: 5px;
    margin-top: 5px;
}

.text {
    font-size: 20px;
    margin-right: 10px;
}

.image-icons {
    height: 35px;
    margin-left: 5px;
    margin-right: 3px;
}

.grey-header-headings {
    padding-right: 5px;
}

.circle-w-heading {
    padding-top: 20px;
    padding-left: 6px;
    padding-right: 2px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

#circle-2 {
    background-color: #dcdcdc;
    width: 24px;
    height: 29px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: -10px;
    color: grey;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 1px;
}

.svg {
    height: 35px;
}

.svg-wrapper {
    display: flex;
    align-items: center;
}

.connection-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}