* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-left: 250px;
    margin-right: 250px;
}

h1 {
    font-size: 70px;
    padding: 10px;
}

h2 {
    font-size: 50px;
    font-weight: normal;
}

h3, h4 {
    font-weight: normal;
    font-size: 18px;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: space-between;
}

.align-items{
    align-items: center;
    text-align: center;
} 

.header {
    background-color: lightgrey;
    min-height: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.search-bar {
    border: 3px solid black;
    width: 400px;
    height: 30px;
    padding-left: 5px;
}

.login-btn {
    color: white;
    background-color: dodgerblue;
    border-color: black;
    border-style: solid;
    box-shadow: 2px 2px black;
    height: 30px;
    width: 70px;
    margin-right: 20px;
    margin-left: 20px;
}

.ninja {
    margin-top: 30px;
    border: 3px solid black;
    padding: 30px;
}

#you-bold {
    font-weight: bold;
}

#dojonary {
    font-size: 30px;
}

.inline {
    display: inline-block;
}

.dojonary-box {
    margin-top: 30px;
    margin-left: 30px;
    padding-right: 10px;
    border: 3px solid black;
    padding-left: 20px;
    padding-top: 15px;
    text-align: left;
    justify-content: flex-end;
    max-height:202px;
}

.add-definition-btn {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 20px;
    background-color: darkseagreen;
    border: 2px solid black;
    height: 40px;
    width: 200px;
    font-size: 20px;
    box-shadow: 2px 2px black;
}

.definitions {
    margin-left: 40px;
    font-size: 20px;
}

.like-btn {
    margin-top: 20px;
    background-color: goldenrod;
    border-color: black;
    border-style: solid;
    box-shadow: 2px 2px black;
    height: 40px;
    width: 110px;
    font-size: 17px;
}

.col {
    flex:3;
}

.col-2 {
    flex:1;
}