* {
    margin: 8px;
}

.search {
    border-radius: 14px;
    display:list-item;
    color: #01d1b2;
    border-color: #01d1b2;
    width: 100px;
    border-style: solid;
}

.plus {
    border-radius: 50%;
    color: white;
    border-style: solid;
    background-color: #01d1b2;
    border-color: #01d1b2;
}

.createaccount {
    display: list-item;
    background-color: #2a77e4;
    color: white;
    box-shadow: 2px 2px black;
    border-style: solid;
    border-color: black;
    width: 130px;
    height: 28px;
}